<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>会员注册</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="stylesheet" href="__AMAZE__/css/amazeui.min.css" />
	<link href="__ICSS__/dlstyle.css" rel="stylesheet" type="text/css">
	<script src="__AMAZE__/js/jquery.min.js"></script>
	<script src="__AMAZE__/js/amazeui.min.js"></script>
	<script src="__LAYER__/layer.js"></script>

</head>

<body>
	<div class="login-boxtitle">
		<a href="/"><img alt="" src="__IIMG__/logobig.png" /></a>
	</div>

	<div class="res-banner">
		<div class="res-main">
			<div class="login-banner-bg"><span></span><img src="__IIMG__/big.jpg" /></div>
			<div class="login-box">

				<div class="am-tabs" id="doc-my-tabs">
					<ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
						<li class="am-active"><a href="">邮箱注册</a></li>
						<li><a href="">手机号注册</a></li>
					</ul>

					<div class="am-tabs-bd">
						<div class="am-tab-panel am-active">
							<form method="post">

							   <div class="user-email">
									<label for="email"><i class="am-icon-envelope-o"></i></label>
									<input type="email" name="email" id="email" placeholder="请输入邮箱账号">
								</div>

					            <div class="user-pass">
								    <label for="e-password"><i class="am-icon-lock"></i></label>
								    <input type="password" name="e-password" id="e-password" placeholder="设置密码">
					            </div>

					            <div class="user-pass">
								    <label for="e-passwordRepeat"><i class="am-icon-lock"></i></label>
								    <input type="password" name="e-repassword" id="e-passwordRepeat" placeholder="确认密码">
					            </div>
             				</form>

							<div class="login-links">
								<label for="reader-me">
									<input id="reader-me" name="e-readerme" type="checkbox"> 点击表示您同意商城《服务协议》
								</label>
						  	</div>

							<div class="am-cf">
								<input type="submit" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl" id="e-register">
							</div>

						</div>

						<div class="am-tab-panel">
							<form method="post">
         						<div class="user-phone">
								    <label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
								    <input type="tel" name="phone" id="phone" placeholder="请输入手机号">
								</div>																			
								<div class="verification">
									<label for="code"><i class="am-icon-code-fork"></i></label>
									<input type="tel" name="code" id="code" placeholder="请输入验证码">
									<a class="btn" href="javascript:void(0);" onclick="sendMobileCode();" id="sendMobileCode">
										<span id="dyMobileButton">获取验证码</span></a>
								</div>

					            <div class="user-pass">
								    <label for="password"><i class="am-icon-lock"></i></label>
								    <input type="password" name="password" id="password" placeholder="设置密码">
					            </div>										
					            <div class="user-pass">
								    <label for="passwordRepeat"><i class="am-icon-lock"></i></label>
								    <input type="password" name="repassword" id="passwordRepeat" placeholder="确认密码">
					            </div>	
							</form>

						 	<div class="login-links">
								<label for="reader-me">
									<input id="reader-me" name="reader-me" type="checkbox"> 点击表示您同意商城《服务协议》
								</label>
					  		</div>
							<div class="am-cf">
								<input type="submit" name="" value="注册" class="am-btn am-btn-primary am-btn-sm am-fl">
							</div>
						
							<hr>
						</div>

						<script>
							$(function() {
								$('#doc-my-tabs').tabs();
							})
						</script>

					</div>
				</div>
			</div>
		</div>
		
		<!--底部-->
		<include file="public/footer" /><!-- 包含底部模版footer -->
	</div>

</body>

<script>
	$("#e-register").click(function(){
		var email=$('input[name=email]').val();
		var e_password=$('input[name=e-password]').val();
		var e_repassword=$('input[name=e-repassword]').val();
		var e_readerme=$('input[name=e-readerme]').prop("checked");
		var emailReg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");

		// var phoneReg = /^1[3-578]\d{9}$/;
		if(email==""){
			layer.alert('邮箱不能为空！',{'title':'系统提示','icon':5});
			return false;
		}else if(e_password==""){
			layer.alert('密码不能为空！',{'title':'系统提示','icon':5});
			return false;
		}else if(e_password.length<6){
			layer.alert('密码至少6位哦~~',{'title':'系统提示','icon':5});
			return false;
		}else if(e_repassword!=e_password){
			layer.alert('两次密码不一致',{'title':'系统提示','icon':5});
			return false;
		}else if(!emailReg.test(email)){
			layer.alert('邮箱格式不正确！',{'title':'系统提示','icon':5});
			return false;
		}else if(!e_readerme){
			layer.alert('请同意服务协议！',{'title':'系统提示','icon':5});
			return false;
		}

		post={
			email:email,
			password:e_password,
			repassword:e_repassword,
			readerme:e_readerme
		}

		// console.log(post)
		send(post);
		
	})


	function send(post)
	{
		$.ajax({
			url: "{:url('index/login/register')}",
			type: 'POST',
			dataType: 'json',
			data: post,
			success: function(res) {
				if(res.status==1){
					layer.alert(res.msg,{'title':'系统提示','icon':6},function(){
						window.location.href="{:url('index/login/index')}";
					});
					return false;
				}else{
					layer.alert(res.msg,{'title':'系统提示','icon':5});
					return false;
				}
			},
			error: function(res) {
				layer.msg('网络连接失败，请稍后再试！')
			}
		});
	}
</script>

</html>