<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ACSS__/font.css">
    <link rel="stylesheet" href="__ACSS__/xadmin.css">
    <script type="text/javascript" src="__AJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__LAYUI__/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__AJS__/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <div class="layui-inline">
              <div class="layui-input-inline">
                <input class="layui-input" placeholder="起始日期" name="start" id="start">
                <input class="layui-input" placeholder="截止日期" name="end" id="end">
              </div>
            </div>
            <div class="layui-inline">
              <div class="layui-input-inline">
                    <select name="modules" lay-verify="" lay-search="">
                        <option value="">选择搜索条件</option>
                        <option value="title">标题</option>
                        <option value="desc">描述</option>
                        <option value="status">状态</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
              <div class="layui-input-inline">
                <input type="text" name="keywords"  placeholder="请输入关键字搜索" autocomplete="off" class="layui-input">
              </div>
            </div>
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加文章','article_add')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$count}条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>标题</th>
            <th>描述</th>
            <th>添加时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="list">
              <volist name="rows" id="rows">
                <tr>
                  <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                  </td>
                  <td>{$rows.id}</td>
                  <td>{$rows.title}</td>
                  <td>{$rows.desc}</td>
                  <td>{$rows.create_time}</td>
                  <td class="td-status">
                    <if condition="$rows.status eq 1">
                        <span onclick="check_aticle(this,'10001')" data="{$rows.id}"  title="{$rows.status?'反审':'审核'}" class="layui-btn layui-btn-disabled layui-btn-mini" >已审核</span>
                    <else />
                      <span onclick="check_aticle(this,'10001')" data="{$rows.id}"  title="{$rows.status?'反审':'审核'}" class="layui-btn layui-btn-normal layui-btn-mini" >未审核</span>
                    </if>
                  </td>
                  <td class="td-manage">
                        <a onclick="check_aticle(this,'10001')" href="javascript:;" data="{$rows.id}"  title="{$rows.status?'反审':'审核'}">
                            <i class="layui-icon">{$rows.status?'&#xe62f;':'&#xe601;'}</i>
                        </a>
                    <a title="编辑"  onclick="x_admin_show('编辑','article_edit?id={$rows.id}')" href="javascript:;">
                      <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" id="{$rows.id}" onclick="article_del(this,'{$rows.id}')" href="javascript:;">
                      <i class="layui-icon">&#xe640;</i>
                    </a>
                  </td>
                </tr>
              </volist>
        </tbody>
      </table>
      <div class="page">
        <div>
            {$page}
        </div>
      </div>

    </div>
    <script>
      layui.use(['form','layer','laydate'], function(){
        var laydate = layui.laydate
        var form = layui.form
        form.render()
        ,$ = layui.jquery
        ,layer = layui.layer;
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
          ,type: 'datetime'
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
          ,type: 'datetime'
        });

        //监听提交
        form.on('submit(sreach)', function(data){
          // console.log(data.field);
          //发异步，把数据提交给php
          if(data.field.keywords==""&&data.field.start==""&&data.field.end==""){
            layer.msg('搜索条件不能为空！');
            return false;
          }
          $.ajax({
            url: "{:url('admin/Article/index')}",
            type: 'POST',
            dataType: 'json',
            data: data.field,
            success: function(res) {
              //called when successful
              // console.log(res)
              res = res.replace(/<(head)[\S\s]*?\1>|<\/?(xxx)[^>]*>/gi, "");
              $('body').html(res);
                // window.location.replace(window.location.href);
                
            },
            error: function(res) {
              //called when there is an error
              layer.msg('网络异常，请稍后再试！');
                
            }
          });
          
          return false;
        });

        // 无刷新分页
        $(function () {
            //给id为list的元素代理绑定下面所有的a元素"click"事件
                $(".page").on("click",".pagination a",function() {
                //取a标签的href即url发送ajax请求

                $.get($(this).attr('href'),function(data){
                //返回数据输出到id为list的元素中
                        // console.log(data);
                        data = data.replace(/<(head)[\S\s]*?\1>|<\/?(xxx)[^>]*>/gi, "");
                        $('body').html(data);
                    });
                    //阻止默认事件和冒泡，即禁止跳转
                    return false;
                })
            })

      });

       /*审核-反审*/
      function check_aticle(obj,id){
        var scrollTop = $(document).scrollTop();
        $('body,html').animate({
            scrollTop: 0
        }, 0);
          layer.confirm('确认要'+$(obj).attr('title')+'吗？',function(index){

              if($(obj).attr('title')=='审核'){

                $(obj).attr('title','反审')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').removeClass('layui-btn-normal').html('已审核');
                layer.msg('已审核!',{icon: 6,time:1000});

              }else{
                $(obj).attr('title','审核')
                
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-normal').removeClass('layui-btn-disabled').html('未审核');
                layer.msg('未审核!',{icon: 6,time:1000});
              }
              post={
                status:$(obj).attr('title'),
                id:$(obj).attr('data')
              }
              console.log(post);
              $.ajax({
                url: 'article_toggle',
                type: 'POST',
                dataType: 'json',
                data: post,
                success: function(res) {
                  //called when successful
                  console.log(res);
                },
                error: function(res) {
                  //called when there is an error
                }
              });
              
              $('body,html').animate({
                scrollTop: scrollTop
              }, 2);
              
          },function(index){
            $('body,html').animate({
              scrollTop: scrollTop
            }, 2);
          });
      }

      /*文章-删除*/
      function article_del(obj,id){
        var scrollTop = $(document).scrollTop();
        $('body,html').animate({
            scrollTop: 0
        }, 0);
          layer.confirm('确认要删除吗？',{icon: 3, title:'提示'},function(index){
              //发异步删除数据

              $.ajax({
                url: 'article_delete',
                type: 'POST',
                dataType: 'json',
                data: {id:id},
                success: function(res) {
                  //called when successful
                  if(res.status=='1'){
                    $('#del_'+res.id).parents("tr").remove();
                    layer.msg(res.msg,{icon:1,time:1000});
                  }else{
                    layer.msg(res.msg,{icon:2,time:1000});
                  }
                  
                },
                error: function(res) {
                  //called when there is an error
                  layer.msg('删除失败!',{icon:2,time:1000});
                }
              });
          },function(index){
            $('body,html').animate({
              scrollTop: scrollTop
            }, 2);
          });
      }



      function delAll (argument) {

        var scrollTop = $(document).scrollTop();
        $('body,html').animate({
            scrollTop: 0
        }, 0);

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();

            $('body,html').animate({
              scrollTop: scrollTop
            }, 2);
        },function(index){
            $('body,html').animate({
              scrollTop: scrollTop
            }, 2);
          });
      }
    </script>
  </body>

</html>