<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>修改密码</title>

		<link href="__AMAZE__/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__AMAZE__/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="__ICSS__/personal.css" rel="stylesheet" type="text/css">
		<link href="__ICSS__/stepstyle.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="__IJS__/jquery-1.7.2.min.js"></script>
		<script src="__AMAZE__/js/amazeui.js"></script>
		<script src="__LAYER__/layer.js"></script>

	</head>

	<body>
		<!--头 -->
		<include file="public/header1" /><!-- 包含头部模版header1 -->
		<include file="public/plug1" /><!-- 包含插件模版plug1 -->
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改密码</strong> / <small>Password</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">重置密码</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal">
						<div class="am-form-group">
							<label for="user-old-password" class="am-form-label">原密码</label>
							<div class="am-form-content">
								<input type="password" name="oldpassword" id="user-old-password" placeholder="请输入原登录密码">
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-new-password" class="am-form-label">新密码</label>
							<div class="am-form-content">
								<input type="password" name="newpassword" id="user-new-password" placeholder="由数字、字母组合">
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-confirm-password" class="am-form-label">确认密码</label>
							<div class="am-form-content">
								<input type="password" name="confirmpassword" id="user-confirm-password" placeholder="请再次输入上面的密码">
							</div>
						</div>
						<div class="info-btn">
							<div class="am-btn am-btn-danger save">保存修改</div>
						</div>

					</form>

				</div>
				<!--底部-->
				<include file="public/footer" /><!-- 包含底部模版footer -->
			</div>

			<include file="public/left" /><!-- 包含左侧菜单模版left -->
		</div>

	</body>

	<script>
		$(".save").click(function(){
			var oldpassword=$("input[name=oldpassword]").val();
			var newpassword=$("input[name=newpassword]").val();
			var confirmpassword=$("input[name=confirmpassword]").val();

			var post={
				oldpassword:oldpassword,
				newpassword:newpassword,
				confirmpassword:confirmpassword
			}
			
			$.ajax({
				url: "{:url('index/person/password')}",
				type: 'POST',
				dataType: 'json',
				data: post,
				success: function(data) {
					//called when successful
					layer.msg(data.msg,{icon:6});
				},
				error: function(res) {
					//called when there is an error

					layer.msg("网络连接失败，请稍后再试",{icon:5});
				}
			});
		})
		
	</script>

</html>